.app {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    align-items: center;
}

header {
    grid-area: header;
    background-color: grey;
    position: sticky;
    top: 0px;
    width:100%;
    text-align: center;
    border-bottom: 3px solid rgb(13, 230, 230);
}

main {
    grid-area: main;
    padding: 50px;
    margin: 50px;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

footer {
    grid-area: footer;
    width:100%;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
    color: black;
    border-top: 3px solid rgb(13, 230, 230);
}

h1 {
    font-family: 'Prata', serif;
    text-align: center;
    color: rgb(13, 230, 230);
    font-size: 100px;
}

@media only screen and (max-width: 815px) {
    .app {
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: 50px;
    }
    main {
        margin: 20px;
        padding: 25px;
    }
    select {
        display: flex;
    }
    span {
        display: flex;
    }
    button, button:hover {
        border: none;
        background-color: white;
    }
}

.loading img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    max-width: 50px;
    max-height: 50px;
    align-items: center;
}

form {
    font-size: medium;
    font-family: 'Prata', serif;
    border-top: 3px solid rgb(13, 230, 230);
    padding: 20px;
}

input {
    width: 300px;
    height: 25px;
    font-family: 'Lato', sans-serif;
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

a, a:hover, a:focus, a:active {
    text-decoration: none;
    align-items: center;
    color: rgb(13, 230, 230);
    font-family: 'Prata', serif;
}

article {
    align-items: center;
    padding-right: 150px;
    padding-left: 150px;
}

section {
    border: 100px;
}

.topicCard li {
    font-size: 25px;
    align-items: center;
    margin: 100px;
    width: 250px;
    height: 250px;
    display: flex;
    background-color: grey;
    border-radius: 25%;
    display: inline-flex;
}

body {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
}

select {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
}

.sort, select {
    float: right;
    margin-bottom: 15px;
}

span {
    margin: 10px;
}

.button {
    border: 2px solid rgb(13, 230, 230);
}

.button:hover {
    transition-duration: 0.4s;
    background-color: rgb(13, 230, 230);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button, button:hover {
    border: none;
}

.topicLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}